.main-chat
  .group-info
    .group-info__head
      .group-info__title
        test
      .group-info__detail
        member : me
    .group-info__edit-btn
      = link_to "#" do
        Edit
  .messages
    = render partial: 'message', collection: @messages
  = form_for [@group, @message] do |f|
    .post-form
      .post-form__input-unit
        = f.text_field :body, class: 'post-form__input-area', placeholder: 'type a message'
        = f.label :image, class: 'post-form__img-btn' do
          = icon('far', 'image')
          = f.file_field :image, class: 'post-form__input'
      = f.submit 'Send', class: 'post-form__snd-btn'
